# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\skills(piton)\pythonProject11\Development\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
